# Environment
.env
**/.env
.env.*
!.env.example

# Node modules
node_modules/
**/node_modules/

# Build output
dist/
**/dist/

build/
**/build/

# Coverage
coverage/
.nyc_output/

# Logs
logs/
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store
Thumbs.db

# IDEs
.idea/
.vscode/
.project
.classpath
.c9/
.settings/
*.launch
*.sublime-workspace

# Temp
.temp/
.tmp/

# Runtime
pids/
*.pid
*.seed
*.pid.lock

# Reports
report.*.json

# Prisma
/generated/prisma
*.db
*.db-journal

# Docker
docker-data/
postgres-data/

# NestJS
.nest