DATABASE_URL=postgresql://postgres:your_password@localhost:5432/saasdb

JWT_SECRET=your_jwt_secret

PORT=3000

NEROTIX_BASE_URL=https://api.nerofy.in/api/v1
NEROTIX_TOKEN=your_nerotix_token

RAZORPAY_KEY_ID=your_razorpay_key_id
RAZORPAY_KEY_SECRET=your_razorpay_key_secret
RAZORPAY_WEBHOOK_SECRET=your_webhook_secret